unicc/venv
dati/

models/
outputProva/
output/
outputV1/
outputV2/
outputV3/
outputV4/
output5/
Distill12/
Distil12NEWnoConcat/
Distil12FusionStrategy/
4teachers/
ScalemaeDistill9/
vitTeachers/
ViTDistill9/
